@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.register-holder {

.form-holder {
    max-width: 740px;
    margin: 0px auto !important;
    background: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px 15px;
    h2 {
        font-size: 20px;
        padding: 0px 0 15px;
        margin: 0px;
    }
}
.flex {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 15px;
}
.form-row {
    padding: 0 0 15px;
    box-sizing: border-box;
    width: 50%;
    &.links {
        display: flex;
        gap: 10px;
        justify-content: start;
        flex-wrap:  wrap;
        label {
            display: flex;
            align-items: center;
            padding-right: 10px;
        }
        span {
            padding-right: 10px;
        }
    }
    a {
        font-size: 16px;
        display: inline-block;
        margin-right: 10px;
        font-weight: bold;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }

}
.input-field {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px !important;
    border:1px solid #BDC5D5;
}
.text-area {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    height: 100px;
    resize:  none;
    border-radius: 5px !important;
    border:1px solid #BDC5D5;
}
.submit-btn {
    background: $Instock-Indigo;
    padding: 10px 30px;
    height: initial;
    width: initial;
    font-size: 16px;
    border-radius: 25px;
    color: $White;
    border: none;
    cursor: pointer;
    &:hover {
        background: $Cloud;
        color: $Instock-Black;
        border: none;
    }
}
ul.login-links {
    display: block;
    margin: 0;
    padding:  0;
    li {
        display: block;
        padding: 0 0 10px;
        span {
            padding-right: 10px;
        }
    }
}

ul.login-links {
    display: block;
    margin: 0;
    padding:  0;
    li {
        display: block;
        padding: 0 0 10px;
        span {
            padding-right: 10px;
        }
    }
}

.radios {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
 .radios input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
.checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: $White;
    border-radius: 50%;
    border: 1px solid $Instock-Black;

  }
  
  .radios:hover input ~ .checkmark {
    background-color: $Cloud;
    border: 1px solid $Instock-Black;
  }
  
  .radios input:checked ~ .checkmark {
    background-color: $Instock-Indigo;
    border: 1px solid $Instock-Indigo

  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .radios input:checked ~ .checkmark:after {
    display: block;
  }
  
  .radios .checkmark:after {
       top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }
  .success {
    background: green;
    padding: 10px 15px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.5s;
  }
}
  