@use "../../styles//partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.single-stdent {
  .student-dashboard {
    

  .sidebar {
    width: 240px;
    height: calc(100vh - 80px);
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    background: $Light-Grey;
    padding: 0px;
    display: flex;
  flex-direction: column;
    
  }
  ul.sidebar-links {
    display: block;
    padding: 0;
    margin: 0;
    li {
      display: block;
      a {
        padding: 10px 15px;
        display: block;
        font-size: 15px;
        border-bottom: 1px solid $Cloud;
        &.active {
          background: $White;
        }
      }
     
    }
  }
  .logout-link {
    display: flex;
    justify-content: start;
    margin-top: auto;
    a {
      background: $Cloud;
      color: $Instock-Black;
      padding: 5px 15px;
      font-size: 15px;
      display: block;
      width: 100%;
    }
  }
  .form-row {
    padding: 0 0 10px;
    h3 {
      display: block;
      font-weight: bold;
      font-size: 16px;
      padding: 0 0 5px;
    }
    .submit-btn {
      border: none;
      cursor: pointer;
      padding: 10px 40px;
      margin-top: 30px;
    }
    input[type="checkbox"] {
      display: none;
    }

    .custom-checkbox {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 3px;
      cursor: pointer;
      position: relative;
      margin: 0 10px -4px 0;
    }

    .custom-label {
      display: inline-block;
      margin-left: 10px;
      font-size: 16px;
      cursor: pointer;
    }

    input[type="checkbox"]:checked + .custom-checkbox::before {
      content: '\2713'; 
      font-size: 16px;
      color: green;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .success {
    background: green;
    padding: 10px 15px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.5s;
  }
}
}
